.layout{
    border:2px solid green;
    display:grid;
    grid-template-areas:
    "n n n ."
    "h m m ."
    "h m m .";
}

.navbar{
    /* border: 5px solid black; */
    grid-area: n;
    display:flex;
    flex-direction: column;

}

.layout-container{
  grid-area: m;
}

.header{
  grid-area: h;
}